h1, h2, h3, h4, h5, h6, p, blockquote, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Buenard', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #252824;
}

h1 {
  margin-bottom: 1px;
  font-size: 20px;
}

a {
  color: #225a93;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p { margin-bottom: 9px; }

body > header {
  border-bottom: 1px solid black;
  color: #fff;
}

body >footer *,
body > header * {
  margin: 0;
  padding: 0;
}

body > footer {
  margin: 0 40px;
}

body > footer .inner {
  border-top: 1px solid #dfdfdf;
  padding: 10px 0;
  text-indent: 5px;
  color: #b6b6b6;
  font-style: italic;
}

body > header h1 {
  font-family: 'Rufina', cursive;
  font-size: 20px;
  text-shadow: rgba(255,255,255,0.3) 0 0 10px;
}

body > header a {
  color: black;
}

body > header h1 a:hover {
  text-decoration: none;
}

#content {
  margin: 40px;
}

#content img {
  padding: 0 10px 10px 0;
}

@media screen and (min-width: 776px) {
  body > header .inner,
  body > footer .inner,
  #content {
    width: 676px;
    margin-left: auto;
    margin-right: auto;
  }
  body > header .inner {
    margin: 10px auto;
  }
  body > header {
    padding-top: 1px;
  }
  body > header h1 {
    font-size: 38px;
    text-shadow: rgba(255,255,255,0.3) 0 0 20px;
  }
}

section.col_left {
  display: inline-block;
  min-height: 200px;
  border-right: 1px solid #dfdfdf;
}

section.col_right {
  display: inline-block;
  min-height: 200px;
}
