extends layout

append head
  link(rel='stylesheet', href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css')

prepend title
  | #{ page.title } - 

append content
  article
    img(src="img/dgossetIQC_sm.jpg", alt="David Gosset")
    section.content
      != page.html

append javascript
  script(type="text/javascript", src="http://code.jquery.com/jquery-1.8.3.js")
  script(type="text/javascript", src="http://code.jquery.com/ui/1.9.2/jquery-ui.js")
  script(type="text/javascript")
    $(document).ready(function() {
      $('img').draggable();
    });
